{% extends 'base.html' %}
{% block content %}
<body>
    <div class="d-flex justify-content-between">
        <div>
            <h1 class="page_title">Recipe for {{recipe.name}}</h1>
        </div>
        <div>
            <a href="/recipes">back to recipes</a>
            <a href="/logout">logout</a>
        </div>
    </div>
    <div class="user_card border border-info col-4 p-2">
        <p>Description: {{recipe.description}}</p>
        <p>Instruction: {{recipe.instructions}}</p>
        <p>Under 30 minutes?: 
            {% if recipe.under_30 == 1  %}
            <td>
                <p>Yes</p>
            </td>
            {% else %}
            <td>
                <p>No</p>
            </td>
            {% endif %}
        </p>
        <p>Date made: {{recipe.date_made}}</p>
        <p>Posted By: {{recipe.posted_by}}</p>
    </p>

    </div>

    
</body>
{% endblock %}